on:
  push:
    tags:
      - "v*" # A version tag = a release

jobs:
  build:
    runs-on: "windows-latest"
    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: 3.11
        cache: pip
    - name: Cache pyinstaller build directory
      uses: actions/cache@v3
      with:
        path: ./build
        key: pyinstaller-build
    - name: Install shroudstone & pyinstaller
      run: pip install pyinstaller -e .
    - name: Sanity check
      run: shroudstone --help
    - name: Build shroudstone.exe
      run: ./pyinstaller_build.bat
    - name: Test .exe
      run: ./dist/shroudstone.exe --help
    - name: Determine release type
      shell: bash
      id: check-tag
      run: |
        if [[ ${{ github.ref }} =~ [0-9](a|b|rc)[0-9]+$ ]]; then
            echo "prerelease=true" >> $GITHUB_OUTPUT
        fi
    - name: Create release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/v')
      with:
        files: dist/shroudstone.exe
        prerelease: ${{ steps.check-tag.outputs.prerelease == 'true' }}
